<!--========== HEADER ==========-->
<header class="header">
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Logo -->
                <div class="navbar-logo">
                    <a class="navbar-logo-wrap" href="index.html">
                        <img class="navbar-logo-img" src="../../img/logo2.png" alt="Acidus Logo">
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="navbar-nav navbar-nav-right">
                        <!-- login -->
                        <li class="nav-item">
                            <a class="nav-item-child" data-toggle="modal" data-target="#myModal1" id = "loginBtn" href="#">
                                login
                            </a>
                        </li>
                        <!-- login -->

                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-item-child active" href="/view/main.html">
                                Home
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- About -->
                        <li class="nav-item">
                            <a class="nav-item-child" href="board/work_out.html">
                                Work out
                            </a>
                        </li>
                        <!-- End About -->

                        <!-- Work -->
                        <li class="nav-item">
                            <!--
                            <a class="nav-item-child" href="/view/board/tip.html">
                            -->
                            <a class="nav-item-child" href="board/tip.html">
                                Tips
                            </a>
                        </li>
                        <!-- Free Talk-->
                        <li class="nav-item">
                            <a class="nav-item-child" href="/view/board/free-board.html">
                            <!--
                            // 빠른 테스트 용....
                            <a class="nav-item-child" href="board/free-board.html">
                            -->
                                EveryBody Talk
                            </a>
                        </li>
                        <!-- MyPage Talk-->
                        <li class="nav-item">
                      <!--      <a class="nav-item-child" href="/view/myBody.html">-->
                            <a class="nav-item-child" href="mybody/myBody.html">
                                MyBody
                            </a>
                        </li>
                        <!-- End Work -->

                    </ul>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--========== END HEADER ==========-->





<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

        <div class="section" id="section1">
            <div class="form form--login">
                <button type="button" class="close modal1" data-dismiss="modal">&times;</button>
                <h1 class="alpha">Login</h1>
                <p>You already have an account? Great! Login here.</p>
                <div>
                    <form class="form-wrap">
                        <input id="id" class="inputbox email" type="text" placeholder="Email id" />
                        <input id="pw" class="inputbox password" type="password" placeholder="Password" />
                        <p>
                            <a  class="button loginBtn">Login <i class="icon-rocket"></i></a>
                        </p>
                    </form>
                    <!-- <p>
                         Forget password? It's ok. <a class="scroll" href="#section3" data-section="3">Recover here &raquo;</a>
                     </p>-->
                </div>
                <hr />
                <!--<p>Or you can Login with one of the following</p>-->
                <!--<div class="social">-->
                    <!--<a href="" id ="facebook_id_login"  class="facebook"><i class="icon-facebook"></i></a> <a-->
                        <!--href="#" id ="naver_id_login" class="twitter">&lt;!&ndash;<i class="icon-twitter"></i>&ndash;&gt;</a> <a-->
                        <!--href="javascript:checkLoginStateWithKakao()" id="kakao-login-btn" class="google"><i class="icon-google-plus"></i></a>-->
                <!--</div>-->
                <p>
                    Don't have an account? <a class="scroll1" data-dismiss="modal" href="javascript:openModal(2)">Register Now &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">

</script>
