<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">MY BODY</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="javascript:pageLoad('profile.html','profileLayer');"><i class="fa fa-user"></i> <span>내 프로필</span></a></li>
        <li><a href="javascript:pageLoad('pattern.html','patternLayer');"><i class="fa fa-bar-chart"></i> <span>패턴 분석</span></a></li>
        <li><a href="javascript:pageLoad('diet.html','dietLayer');"><i class="fa fa-cutlery"></i> <span>식단 관리</span></a></li>
        <li><a href="javascript:pageLoad('chat.html','chatLayer');"><i class="fa fa-comments-o"></i> <span>채팅</span></a></li>
        <li><a href="javascript:pageLoad('bookmark.html','bookmarkLayer');"><i class="fa fa-star"></i> <span>북마크</span></a></li>
        <li><a href="javascript:pageLoad('setting.html','settingLayer');"><i class="fa fa-gear"></i> <span>정보 변경</span></a></li>
        <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
<script type="application/javascript">
    $("document").ready(function () {
        $("#profileLayer").load('profile.html');
    });

    function pageLoad(pageUrl,layer){
        $("div.pagelayer").hide();
        $("#"+layer).load(pageUrl).show();
    };
    $("section.sidebar>ul.sidebar-menu>li>a").on("click", function() {
        $(".sidebar-menu ").find(".active").removeClass("active");
        $(this).parent().addClass("active");
    });
   /* $("section.sidebar>ul.sidebar-menu>li").click(function(event) {
        console.log(this);
        console.log(event);
        this.siblings().removeClass("active").addClass("active");
    });*/
</script>
