div.attachment-text {
    height: 2.85714286em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 90%;
}

div.chart.tab-pane {
    cursor: default;
}