img.user-img-circle {
    padding: .7em;
    height: 15em;
    width: 15em;
    border-radius: 18em;
    display: block;
    margin: 0 auto;
}

h3.user-name-area {
    text-align: center;
}

.modal-resize {
    width: 400px;
    margin: 30px auto;
}