.tools {
    display: none;
    float: right;
    color: #dd4b39;
    position: absolute;
    left: 80%;
    z-index: 999;
}

.tools > .fa,
.tools > .glyphicon,
.tools > .ion {
    margin-right: 5px;
    cursor: pointer;
}

li:hover .tools {
    display: inline-block;
}