<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-cutlery"></i>내 식단 관리</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    <ul class="timeline" id="dietTimeLine">

                        <!--<li>-->
                            <!--<i class="fa fa-clock-o bg-gray"></i>-->
                        <!--</li>-->
                    </ul>

                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="editDiet" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="margin-top: 30%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>다른 라벨 선택하기</p>
                    <div id="labelsDiv">
                    </div>
                    <br>

                    <p style="display:inline-block;">먹은 양 </p>
                    <select name="amount" id="amount" class="itemList" onchange="checkAmount(this.value);">
                        <option value="0.5">0.5</option>
                        <option value="1.0">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2.0">2.0</option>
                        <option value="2.5">2.5</option>
                        <option value="3.0">3.0</option>
                    </select>
                    <!--<input type="number" id="amount" value="1" name="amount" min="0.5" max="3" step="0.5" onchange="checkAmount();">-->
                    <p style="display:inline-block;" id="amountKcal"></p>

                    <br><br>
                    <p>직접검색하기</p>

                    <div class="input-group" id ="searchDiv">
                        <input type="text" name="search" id="foodSearchInput" class="form-control" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="button" id="searchBtn" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="editDietBtn">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /.content -->
<script type="application/javascript">
   $(function() {
        $("#foodSearchInput").autocomplete({
            source: function (request, response) {
//                console.log("??");
                $.ajax({
                    type: 'post',
                    url: serverPath + "diet/"+ "autocomplete.do",
                    dataType: "json",
                    data: {value: request.term},
                    success: function (data) {
                        response(
                            $.map(data.foodList, function (item) {
//                                console.log("=====data========");
//                                console.dir(data);
//                                console.log("=====item========");
//                                console.dir(item);
                                return {
                                    label: item,
                                    value: item
                                }
                            })
                        );
                    }
                });
            },
            //조회를 위한 최소글자수
            minLength: 2,
            select: function (event, ui) {
               $("button#searchBtn").click();
            }
        });
    })

</script>


<script id="Diet-list-temp" type="text/x-handlebars-template">
    {{#each .}}

    {{#ifTimeCheckClose date}}
    <!--</ul>-->
    </div>
    <div class="timeline-footer"></div>
    </div>
    </li>
    {{/ifTimeCheckClose}}


    {{#ifCheckDate date}}
    <li class="time-label">
        <span class="bg-red">
            {{prettifyDate date}}
         </span>
    </li>
    {{/ifCheckDate}}


    {{#ifTimeCheck date}}
    <li id="{{makeDpNo dpNo}}">
        <i class="fa fa-cutlery bg-blue"></i>
        <div class="timeline-item">
            <span class="time" id="{{makeDpNo dpNo}}">{{{makeTotalKcal dpNo}}}</span>
            <h3 class="timeline-header"><span class="time"><i class="fa fa-clock-o"></i>{{prettifyTime date}}</span></h3>
            <div class="timeline-body">
                <ul class="mailbox-attachments clearfix">

    {{/ifTimeCheck}}

                    <li id="dietNo{{dietNo}}" >
                        <span class="mailbox-attachment-icon has-img"><img src="data:image/jpeg;base64,{{dataUrl}}" alt="Attachment" ></span>
                        <div class="mailbox-attachment-info">
                            <p class="mailbox-attachment-name">
                                <a class="btn btn-primary btn-xs foodNameLabel">{{makeFoodName fixFood}}</a>
                            </p>
                            <span class="mailbox-attachment-size">
                                <a href="#" class="mailbox-attachment-name">{{makeFoodKcal fixFood amount}}</a>
                                 <a href="javascript:deleteDiet({{{dietNo}}});" class="btn btn-default btn-xs pull-right"><i class="fa fa-trash"></i></a>
                                 <a href="javascript:editDodalDiet({{{dietNo}}},{{{fixFood}}},{{{foodNo}}},{{{foodNo2}}},{{{foodNo3}}},{{{amount}}});" class="btn btn-default btn-xs pull-right"><i class="fa fa-wrench"></i></a>
                             </span>
                        </div>
                    </li>
                    {{#if @last}}
            </div>
            <div class="timeline-footer"></div>
        </div>
    </li>
    {{/if}}
    {{/each}}
</script>

<script id="li-list" type="text/x-handlebars-template">
    {{#each .}}
    {{#if @first}}
    <i class="fa fa-cutlery bg-blue"></i>
    <div class="timeline-item">
        <span class="time" id="{{makeDpNo dpNo}}">{{{makeTotalKcal dpNo}}}</span>
        <h3 class="timeline-header"><span class="time"><i class="fa fa-clock-o"></i>{{prettifyTime date}}</span></h3>
        <div class="timeline-body">
        <ul class="mailbox-attachments clearfix">
    {{/if}}
        <li id="dietNo{{dietNo}}" >
            <span class="mailbox-attachment-icon has-img"><img src="data:image/jpeg;base64,{{dataUrl}}" alt="Attachment" ></span>
            <div class="mailbox-attachment-info">
                <p class="mailbox-attachment-name">
                    <a class="btn btn-primary btn-xs foodNameLabel">{{makeFoodName fixFood}}</a>
                </p>
                <span class="mailbox-attachment-size">
                    <a href="#" class="mailbox-attachment-name">{{makeFoodKcal fixFood amount}}</a>
                    <a href="javascript:deleteDiet({{{dietNo}}});" class="btn btn-default btn-xs pull-right"><i class="fa fa-trash"></i></a>
                    <a href="javascript:editDodalDiet({{{dietNo}}},{{{fixFood}}},{{{foodNo}}},{{{foodNo2}}},{{{foodNo3}}},{{{amount}}});" class="btn btn-default btn-xs pull-right"><i class="fa fa-wrench"></i></a>
                </span>
            </div>
        </li>
        {{#if @last}}
        </ul>
        </div>
        <div class="timeline-footer"></div>
    </div>
    {{/if}}
    {{/each}}
</script>


<script type="application/javascript">
    var $checkDate;
    var $checkTime;
    var todayCnt = 0;
    Handlebars.registerHelper("prettifyDate", function(timeValue) {
        var dateObj = new Date(timeValue);
        var year = dateObj.getFullYear();
        var month = dateObj.getMonth() + 1;
        var date = dateObj.getDate();
        return year + "." + month + "." + date;
    });
    Handlebars.registerHelper("prettifyTime", function(timeValue) {
        var dateObj = new Date(timeValue);
        var hour = dateObj.getHours()+"";
        if(hour.length === 1){
            hour = "0" + hour;
        }
        var minute = dateObj.getMinutes()+"";
        if(minute.length === 1){
            minute = "0" + minute;
        }
        return hour+":"+minute;
    });
    Handlebars.registerHelper("makeFoodName",function (fixFood) {
            var food = getFood(fixFood);
       return food.korName;
    });
    Handlebars.registerHelper("makeFoodKcal",function (fixFood, amount) {
            var food = getFood(fixFood);
       return (food.kcal * amount) + " Kcal";
    });
    Handlebars.registerHelper("makeTotalKcal",function (dpNo) {
        if(dpNo === 0){
            dpNo = (dpNo+""+todayCnt);
        }
        var totalKcal = $.ajax({
            url: serverPath+"diet/getTotalKcal.do",
            data:{
                dpNo:dpNo,
                userId:$loginId
            },
            async : false
        }).done(function (result) {
            return result;
        }).responseText;

        return "총 " + totalKcal + "Kcal";
    });

    Handlebars.registerHelper('ifCheckDate', function(date,options) {
        var dateObj = new Date(date);
        var year = dateObj.getFullYear();
        var month = dateObj.getMonth() + 1;
        var day = dateObj.getDate();
        var dateString =  ""+ year + month + day;
        if($checkDate===undefined||$checkDate !== dateString){
            $checkDate = dateString;
            return options.fn(this);
        }else if($checkDate === dateString){
            return options.inverse(this);
        }
    });

    Handlebars.registerHelper('makeDpNo', function(dpNo) {
        if(dpNo === 0){
            return dpNo + "" + todayCnt;
        }else{
            return dpNo;
        }
    });

    Handlebars.registerHelper('ifTimeCheck', function(date,options){
        var dateObj = new Date(date);
        var hour = dateObj.getHours();
        var minute = dateObj.getMinutes();
        var timeString =  ""+ hour + minute ;
        if($checkTime===undefined||$checkTime !== timeString){
            $checkTime = timeString;
            todayCnt++;
            return options.fn(this);
        }else if($checkTime === timeString){
            return options.inverse(this);
        }

    });
    Handlebars.registerHelper('ifTimeCheckClose', function(date,options){
        var dateObj = new Date(date);
        var hour = dateObj.getHours();
        var minute = dateObj.getMinutes();
        var timeString =  ""+ hour + minute ;
        if($checkTime!==timeString&&$checkTime!==undefined){
            return options.fn(this);
        }else if($checkTime === timeString){
            return options.inverse(this);
        }
    });

    function getFood(foodNo) {
//        console.log("getFood호출");
        var food;
        $.ajax({
            url: serverPath+"diet/"+foodNo+"/getFood.do",
            dataType: "json",
            async : false
        }).done(function (result) {
//            console.log("getFood완료...");
//            console.dir(result);
            food = result;
        }).fail(function (err) {
            console.log("에러!!");
            console.dir(err);
        });
        return food;
    }

    var editDietNo;
    function editDodalDiet(dietNo,fixFood,foodNo1, foodNo2, foodNo3, amount){
        var html = "";
        var food = getFood(fixFood);
        editDietNo = dietNo;
        $("p#amountKcal").html((amount*food.kcal)+" kcal");
        html += '<a class="btn btn-primary btn-xs foodNameTag" id="f'+food.foodNo+'">'+food.korName+'</a>&emsp;'+food.kcal +'kcal<br>';
        if( foodNo1 !== 0 && fixFood!==foodNo1){
            food = getFood(foodNo1);
            html += '<a class="btn btn-xs foodNameTag" id="f'+food.foodNo+'">'+food.korName+'</a>&emsp;' + food.kcal +'kcal<br>';
        }
        if(foodNo2 !== 0 && fixFood!==foodNo2){
            food = getFood(foodNo2);
            html += '<a class="btn btn-xs foodNameTag" id="f'+food.foodNo+'">'+food.korName+'</a>&emsp;'+food.kcal +'kcal<br>';
        }
        if(foodNo3 !== 0 && fixFood!==foodNo3){
            food = getFood(foodNo3);
            html += '<a class="btn btn-xs foodNameTag" id="f'+food.foodNo+'">'+food.korName+'</a>&emsp;'+food.kcal +'kcal<br>';
        }

        $("#labelsDiv").html(html);
        $("select#amount").val(amount).prop("selected", true);
        $("#editDiet").modal();
    }

    $("#labelsDiv").on(
        "click",
        "a.foodNameTag",	//매개변수 : 이벤트를 걸 엘리먼트
        function(e){
            $(this).addClass("btn-primary").siblings().removeClass("btn-primary");
            checkAmount($("select#amount :selected").val());
        }
    );

    // 먹은 양 옆의 칼로리
    function checkAmount(value){
        var no = $("a.foodNameTag.btn-primary")[0].id.substring(1);
        var food = getFood(no);
        $("p#amountKcal").html((value*food.kcal)+" kcal");
    }

    // 모달창 닫을 때
    $("button.close").click(function(){
        $("input#foodSearchInput").val("");
    });

    $("#editDietBtn").click(function(){
        var answer =  confirm("수정하시겠습니까?");
        var fixFood = $("div#labelsDiv > a.btn-primary")[0];
        var fixFoodNo = fixFood.id.substring(1);
        var amount = $("select#amount :selected").val();

        if(answer){
            console.log("수정");
            $.ajax({
                url: serverPath+"diet/"+editDietNo+"/updateDiet.do",
                data:{
                    fixFood:fixFoodNo,
                    amount: amount
                }
            }).done(function (result) {
                if(result==="success"){
                    alert("수정 완료!");

                    var editLiTag = $("li#dietNo"+editDietNo).parents("li");
                    var tagId = editLiTag.children("div").children("span").attr("id");
                    console.log(tagId);
                    if(tagId.substring(0,1)==="0"){
                        todayCnt = tagId.substring(1);
                    }
                     $.ajax({
                        url: serverPath+"diet/getDietByDpNo.do",
                        data:{
                            dpNo:tagId,
                            userId:$loginId
                        },
                        async : false
                    }).done(function (result) {
                         var source = $("#li-list").html();
                         var template = Handlebars.compile(source);
                         var html = template(result);
                         $('li#'+tagId).html(html);
                    });

                    $("button.close").click();
                }
            });
        }else{
            console.log("수정 취소");
        }

    });

    function deleteDiet(dietNo){
        var answer =  confirm("정말 삭제하시겠습니까?");
        if(answer){
            console.log("삭제");
            $.ajax({
                url: serverPath+"diet/"+dietNo+"/deleteDiet.do"
            }).done(function (result) {
                if(result==="success"){
                    alert("삭제완료!");

                    if($("li#dietNo"+dietNo).parent().children("li").length === 1){

                        var timeLi = $("li#dietNo"+dietNo).parents("li");
                        var dateLi = timeLi.prev("li");
                        timeLi[0].remove();
                        if(dateLi.next("li")[0].className ==="time-label"||dateLi.next("li")[0].id ==="lastTimeline"){
                           dateLi[0].remove();
                        }

                    }else{
                        var delLiTag = $("li#dietNo"+dietNo).parents("li");
                        var tagId = delLiTag.children("div").children("span").attr("id");
                        if(tagId.substring(0,1)==="0"){
                            todayCnt = tagId.substring(1);
                        }
                        $.ajax({
                            url: serverPath+"diet/getDietByDpNo.do",
                            data:{
                                dpNo:tagId,
                                userId:$loginId
                            },
                            async : false
                        }).done(function (result) {
                            var source = $("#li-list").html();
                            var template = Handlebars.compile(source);
                            var html = template(result);
                            $('li#'+tagId).html(html);
                        });
                    }
                }
            });
        }else{
            console.log("삭제 취소");
        }

    }



/*        $(".sidebar-menu ").find(".active").removeClass("active");
        $(this).parent().addClass("active");*/

    /*무한스크롤*/
    $(window).scroll(function(){
        var sh = $(window).scrollTop() + $(window).height();
        //현재 스크롤의 맨위 높이 + 현재창의 높이
        var dh = $(document).height();
        //전체문서 길이
     //   console.log(sh,dh);
        //전체문서길이랑 스크롤 내린게 비슷할때 또 로딩해라..

        if(sh >= dh - 10){
            if(notLastPage) {
                dietPageNo++;
                console.log("=======무한스크롤 로딩=======");
//                if (dietPageNo <= 3) {
                    getDietList(dietPageNo);
//                }
            }
         }
    });

    var dietPageNo = 1;
    var notLastPage = true;
    var todayPage = false;
    function getDietList(dietPageNo){
//        console.log("==========getDietList 호출================")
//        console.log("로그인아이디 : "+$loginId);
        if(notLastPage){
//            console.log("===========마지막 페이지가 아니라면 ajax호출  ======dietPageNo : "+dietPageNo);
            console.log("로그인 id : ", $loginId, ", pagetNo : ", dietPageNo);

            $.ajax({
                url: serverPath+"diet/"+$loginId+"/"+ dietPageNo +"/dietList.do",
                dataType: "json",
                async:false
               }).done(makeDietList).fail(function (err) {
                   console.log("에러..");
                    console.dir(err);
               });
        }else{

        }
    }


    $("button#searchBtn").on("click", function(){
        var foodName = $("input#foodSearchInput").val();
        $.ajax({
            url: serverPath+"diet/"+foodName+"/getFoodByKorName.do",
            dataType:"json"
        }).done(function (result) {
            var labelTag = $("#labelsDiv").children("a#f"+result.foodNo);
            console.log(labelTag);
            if(labelTag.length === 0){
                var html = '<a class="btn btn-primary btn-xs foodNameTag newFood" id="f'+result.foodNo+'">'+result.korName+'</a>&emsp;'+result.kcal+'kcal<br>';

                $("#labelsDiv").append(html);
                var newFoodTag = $("a.newFood");
                newFoodTag.trigger("click");
                newFoodTag.removeClass("newFood");
            }else{
                $("#labelsDiv").children("a#f"+result.foodNo).click();
            }
        });
    });

    function makeDietList(result) {
//        console.log("===============makeDietList 호출됨==============");
        var todayList = result.todayList;
        var dietList = result.dietList;
//        console.log("========todayList=============");
//        console.dir(todayList);
//        console.log("=========dietList============");
//        console.dir(dietList);
//        console.log("=====================");

        if (todayList.length === 0 && dietList.length === 0 && dietPageNo === 1) {
//            console.log("======= 더이상 등록된 식단이 없는경우==========")
            $("#dietTimeLine").append("<li><div class=\"timeline-item\"><h3 class=\"timeline-header\"><span class=\"time\">"
                + "등록된 식단이 없습니다.</span></h3></div></li><li><i class=\"fa fa-clock-o bg-gray\"></i></li>");

//                console.log("----notLastPage = false로 변경----")
            notLastPage = false;
        }
//        else if(todayList.length === 0 && deitList.length !== 0){
//            // 오늘 먹은것만 없을때
//        }
        else if (todayList.length !== 0 && todayPage === false) {
            todayPage = true;
            dietPageNo = 0;
            $("li#lastTimeline").remove();

            var source = $("#Diet-list-temp").html();
            var template = Handlebars.compile(source);
            var html = template(todayList);
            html += "<li id='lastTimeline'><i class=\"fa fa-clock-o bg-gray\"></i></li>";
            $('#dietTimeLine').append(html);
        }
        else{
//            console.log("=======등록된식단이있다....====== 템플릿적용==========")
            $("li#lastTimeline").remove();

            var source = $("#Diet-list-temp").html();
            var template = Handlebars.compile(source);
            var html = template(dietList);
            html += "<li id='lastTimeline'><i class=\"fa fa-clock-o bg-gray\"></i></li>";
            $('#dietTimeLine').append(html);
        }
    }
    getDietList(1);


</script>