<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pattern
        <small>Optional description</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- DONUT CHART -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Kind of Food</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                      <canvas id="foodkindPieChart" style="height: 295px; width: 590px;" height="295" width="590"></canvas>
                    </div>
                </div>
                <div class="box-footer no-padding kindOfFood">
                    <ul class="nav nav-pills nav-stacked">
                        <!-- 여기에 분석 말 -->
                    </ul>
                </div>
            </div>

            <!-- BAR CHART -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Calroies for A Week</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="calroChart" style="height: 277px; width: 590px;" height="277" width="590"></canvas>
                    </div>
                </div>
                <div class="box-footer no-padding kcalForWeek">
                    <ul class="nav nav-pills nav-stacked">
                        <!-- 여기에 분석 말 -->
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>


        <div class="col-md-6">
            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Time Flot  to ate</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="timePatChart" style="height: 301px; width: 590px;" height="301" width="590"></canvas>
                    </div>
                </div>
                <div class="box-footer no-padding timeToEat">
                    <ul class="nav nav-pills nav-stacked">
                        <!-- 여기에 분석 말 -->
                    </ul>
                </div>
            </div>

            <!-- AREA CHART -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">몸무게 변화</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="weightChart" style="height: 301px; width: 590px;" height="301" width="590"></canvas>
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#" class="text-green">건강해요 ! <span class="pull-right text-green"><i class="fa fa-smile-o"></i></span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /.content -->
<script type="application/javascript">
    $("document").ready(function () {

        $.ajax({
            url:"http://192.168.0.16:8000/diet/getPattern.do",
            data:{
                userId : $loginId
            },
            type:"post",
            crossDomain:true,
            dataType:"json"
        }).done(function(result){
            console.log("##############3#####");
            console.dir(result);
            console.dir(result.foodKindData);

            setChart(result.foodKindData, result.foodKcalData, result.timeData, result.weightData, result.msgData);
        });

    });

//    function getPattern(loginId){
//        $.ajax({
//            url: serverPath+"diet/"+loginId+"/getPattern.do",
//            dataType: "json",
//            async : false
//        }).done(function (result) {
//
//
//        });

//    }

    function setChart(foodKindData, foodKcalData, timeData, weightData, msgData){

        var foodkinddata = {
            datasets : [{
//                data : ['밥류',
//                    '밀가루/면류',
//                    '육류',
//                    '생선류',
//                    '국/찌개/탕류',
//                    '과자/빵류',
//                    '부침/튀김',
//                    '음료',
//                    '채소류',
//                    '과일류',
//                    '유제품',
//                    '유지/견과류',
//                    '계란/콩류',
//                    '해산물',
//                    '패스트푸드',
//                    '당류',
//                    '건강기능식품',
//                    '소스류',
//                    '죽/스프',
//                    '차/커피',
//                    '주류',
//                    '미정'],
                data : foodKindData.data,
                backgroundColor : foodKindData.color
//                backgroundColor : [
//                    "#EAEAEA"
//    , "#FAF4C0"
//    , "#A81919"
//    , "#6799FF"
//    , "#DB3A00"
//    , "#FFE400"
//    , "#EDA900"
//    , "#A566FF"
//    , "#47C83E"
//    , "#FF3636"
//    , "#D4F4FA"
//    , "#CC723D"
//    , "#FFF612"
//    , "#008299"
//    , "#C97CA3"
//    , "#EB53D7"
//    , "#A566FF"
//    , "#990085"
//    , "#F2CB61"
//    , "#AB4A12"
//    , "#22741C"
//    , "#000000"
//                ]
            }],
            labels : foodKindData.labels
//            labels : [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
        };
        new Chart($("#foodkindPieChart"),{type:'doughnut', data:foodkinddata, options: {
            responsive: true,
            legend: { position: 'right'},
            title: {display: false},
            animation: { animateScale: true, animateRotate: true }
        }});


        if(foodKcalData !== null){
        var kcalBackgroundColor = ['tomato', 'orange', '#8fdc86','#c5f171','#648af8'];
        var kcalDataSet = [];
        for(var i = 0;i < foodKcalData.kcalOfWeek.length; i++){
            var data = {
                label: (i+1)+'끼',
                backgroundColor: kcalBackgroundColor[i],
                data: foodKcalData.kcalOfWeek[i]
            };
            kcalDataSet.push(data);
        }

//        var foodcaldata = {
//            labels: ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"],
//            datasets:   [
//                {label:'아침', backgroundColor:'tomato', data:foodKcalData.breakfast},
//                {label:'점심', backgroundColor:'orange',  data:foodKcalData.lunch},
//                {label:'저녁', backgroundColor:'#8fdc86', data:foodKcalData.dinner}
//            ]
//        };


        var foodcaldata = {
            labels: ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"],
            datasets: kcalDataSet
        };
        new Chart( $("#calroChart"), {
            type: 'bar',
            data: foodcaldata,
            options: {
                title:{ display:false }, tooltips: { mode: 'index', intersect: false },
                responsive: true, legend: { position: false },
                scales: { xAxes: [{ stacked: true }], yAxes: [{ stacked: true }]
                }
            }
        });
        }

        var breakfastList = timeData.breakfast;
        var lunchList = timeData.lunch;
        var dinnerList = timeData.dinner;

        var timeDataSet = [];

        for(var i = 0;i < breakfastList.length; i++){
            var data = {
                label: "아침",
                backgroundColor: 'tomato',
                borderColor: 'tomato',
                data: breakfastList[i],
                fill: false,
                pointRadius: 2,
                pointHoverRadius: 5,
                showLine: false // no line shown
            };
            timeDataSet.push(data);
        }
        for(var i = 0;i < lunchList.length; i++){
            var data = {
                label: "점심",
                backgroundColor: 'orange',
                borderColor: 'orange',
                data: lunchList[i],
                fill: false,
                pointRadius: 2,
                pointHoverRadius: 5,
                showLine: false // no line shown
            };
            timeDataSet.push(data);
        }
        for(var i = 0;i < dinnerList.length; i++){
            var data = {
                label: "저녁",
                backgroundColor: 'greenyellow',
                borderColor: 'greenyellow',
                data: dinnerList[i],
                fill: false,
                pointRadius: 2,
                pointHoverRadius: 5,
                showLine: false // no line shown
            };
            timeDataSet.push(data);
        }

       var timeconfig = {
            type: 'line',
            data: {
                labels: ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"],
                datasets: timeDataSet
            },
            options: {
                responsive : true,
                title :{ display:false },
                legend: {
                    display : false,
                    elements : {
                        point : { pointStyle : 'rectRot' }
                    }
                }
            }
       };

        new Chart( $("#timePatChart"),timeconfig);

        var weightconfig = {
            type: 'line',
            data: {
                labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6'],
                datasets: [{
                    label: '1st Week',
                   // steppedLine: details.steppedLine,
                    data: [55,55.5,54.5,53.5,54.5,54],
                    borderColor: 'skyblue',
                    fill: false,
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    showLine: true // no line shown
                }]
            },
            options: {
                responsive : true,
                title : { display: false },
                legend : { display: false}
            }
        };
        new Chart( $("#weightChart"),weightconfig);

        setText(msgData);

    }

    function setText(msgData){
        // yellow, green, red

        var html = "";
        for(var i=0; i<msgData.foodKindMSG1.length; i++){
            if(msgData.foodKindMSG2.indexOf("-") !== -1){
                html = "<li><a>"+msgData.foodKindMSG1[i]+"<span class='pull-right text-green'><i class='fa fa-angle-down'></i> "+ msgData.foodKindMSG2[i]+"</span></a></li>";
            }else {
                html = "<li><a>"+msgData.foodKindMSG1[i]+"<span class='pull-right text-red'><i class='fa fa-angle-up'></i> "+ msgData.foodKindMSG2[i]+"</span></a></li>";
            }
        }
        $("div.kindOfFood > ul").html(html);


        if(msgData.foodKcalFlag === -1){
            html = "<li><a class='text-green'>"+ msgData.foodKcalMSG +"<span class='pull-right text-green'><i class='fa fa-angle-down'></i> ";
        }else if(msgData.foodKcalFlag === 0){
            html = "<li><a class='text-yellow'>"+ msgData.foodKcalMSG +"<span class='pull-right text-yellow'>";
        }else if(msgData.foodKcalFlag === 1){
            html = "<li><a class='text-red'>"+ msgData.foodKcalMSG +"<span class='pull-right text-red'><i class='fa fa-angle-up'></i> ";
        }
        html += msgData.foodKcalPoint + "</span></a></li>";
        $("div.kcalForWeek > ul").html(html);


        if(msgData.timeFlag === -1){
            html = "<li><a class='text-green'>"+ msgData.timeMSG +"<span class='pull-right text-green'><i class='fa fa-smile-o'></i></span></a></li>";
        }else if(msgData.timeFlag === 0){
            html = "<li><a class='text-yellow'>"+ msgData.timeMSG +"<span class='pull-right text-yellow'><i class='fa fa-meh-o'></i></span></a></li>";
        }else if(msgData.timeFlag === 1){
            html = "<li><a class='text-red'>"+ msgData.timeMSG +"<span class='pull-right text-red'><i class='fa fa-frown-o'></i></span></a></li>";
        }
        $("div.timeToEat > ul").html(html);
    }


</script>