<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pattern
        <small>Optional description</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- DONUT CHART -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Kind of Food</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                      <canvas id="foodkindPieChart" style="height: 295px; width: 590px;" height="295" width="590"></canvas>
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">육류
                            <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
                        <li><a href="#">탄수화물 <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a>
                        </li>
                        <li><a href="#">유제품
                            <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- BAR CHART -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Calroies for A Week</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="calroChart" style="height: 277px; width: 590px;" height="277" width="590"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Line Chart</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="lineChart" style="height: 301px; width: 590px;" height="301" width="590"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- AREA CHART -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Meal Time Flot a Month</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="timePatChart" style="height: 301px; width: 590px;" height="301" width="590"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->
<script type="application/javascript">

    setChart();
    $("document").ready(function () {
        //1.로그인 유저 정보가져오기.....
        console.log("dddd");
        //2.ajax로 음식 종류 패턴 검색결과 가져오기...dataset 세팅해서!
        setChart();
    });

    function setChart(){
        //pieChart
        var foodkinddata = {
            datasets:[{data:[10,20,30,40,50], backgroundColor: ['tomato', 'orange', '#c5f171', '#8fdc86', '#648af8']}],
            labels:['기타','유제품','밥류','면류','육류']
        };
        var foodcaldata = {
            labels: ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"],
            datasets:   [{label: '아침', backgroundColor: 'tomato', data: [ 350,  450, 390, 600,502, 510, 260]},
                {label: '점심',  backgroundColor: 'orange',  data: [  650, 560, 505, 605,  540, 605, 580]},
                {label: '저녁',  backgroundColor: '#8fdc86', data: [ 400, 350, 504, 550, 340, 650, 640]}
            ]
        };
        new Chart($("#foodkindPieChart"),{type:'doughnut', data:foodkinddata, options: {
            responsive: true,
            legend: { position: 'right', },
            title: {display: false, },
            animation: { animateScale: true, animateRotate: true }
        }});
       new Chart( $("#calroChart"), {
            type: 'bar',
            data: foodcaldata,
            options: {
                title:{ display:false }, tooltips: { mode: 'index', intersect: false },
                responsive: true, legend: { position: false, },
                scales: { xAxes: [{ stacked: true, }], yAxes: [{ stacked: true }]
                }
            }
        });
        //칼로리차트
        //
    }
</script>