<!-- Content Header (Page header) -->
<style type="text/css">
    input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.29);
        font-size: 15px;
    }
</style>
<section class="content-header">
    <h1>
        내 프로필
        <small>내 정보를 볼 수 있어요!</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">

                    <h3 class="profile-username text-center">Yumi Kim</h3>
                    <p class="text-muted text-center">다이어트 성공하자!</p>


                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Eb와 함께한지</b> <a class="pull-right">14일</a>
                        </li>
                        <li class="list-group-item">
                            <b>Friends</b> <a class="pull-right">13명</a>
                        </li>
                        <li class="list-group-item">
                            <b>body spec</b> <a class="pull-right">163/52</a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-3">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">친구들과 함께 다이어트!</span>
                    <span class="info-box-number">14일 째</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description">
                    50% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-heartbeat"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">스쿼트 1달하기</span>
                    <span class="info-box-number">10일 차</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 30%"></div>
                    </div>
                    <span class="progress-description">
                    30% Increase in 30 Days
                  </span>
                </div>
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Eb와 함께한지</span>
                    <span class="info-box-number">28일</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description">
                    30% Increase in 90 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-tachometer"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">현재 몸무게 입력하기</span>
                    <span class="info-box-number"><input type="text" style="background: none; color: white; outline-color: transparent;border: none"  placeholder="몸무게를 입력하세요">
                        <a href="#" style="color: white"><i class="fa fa-mail-forward pull-right"></i></a>
                    </span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                    몸무게 변화를 눈으로 확인하세요!
                  </span>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

                    <p class="text-muted">
                        B.S. in Computer Science from the University of Tennessee at Knoxville
                    </p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                    <p class="text-muted">Malibu, California</p>

                    <hr>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                    <p>
                        <span class="label label-danger">UI Design</span>
                        <span class="label label-success">Coding</span>
                        <span class="label label-info">Javascript</span>
                        <span class="label label-warning">PHP</span>
                        <span class="label label-primary">Node.js</span>
                    </p>
                    <hr>
                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>
</section>
<!-- /.content -->