<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div id="profileDiv" class="box box-primary">

                <!-- /.box-body -->
            </div>
            <!-- 프로필 수정!! -->
            <div id="editProfileDiv" class="box box-primary" style="display: none;">
            </div>
            <!-- /.box -->

            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">친구들과 함께 다이어트!</span>
                    <span class="info-box-number">14일 째</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description">
                    50% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-heartbeat"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">스쿼트 1달하기</span>
                    <span class="info-box-number">10일 차</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 30%"></div>
                    </div>
                    <span class="progress-description">
                    30% Increase in 30 Days
                  </span>
                </div>
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">28일</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description">
                    30% Increase in 90 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-tachometer"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">현재 몸무게 입력하기</span>
                    <span class="info-box-number">
                        <input type="text" style="background: none; color: white; outline-color: transparent;border: none" placeholder="몸무게를 입력하세요">
                        <a href="#" style="color: white"><i class="fa fa-mail-forward pull-right"></i></a>
                    </span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                    몸무게 변화를 눈으로 확인하세요!
                  </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-tint text-aqua"></i> Water a Day</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="text-center">
                        <div class="chart">
                            <span style="position: absolute; vertical-align: middle; margin-left: -3%; font-style: normal;margin-top:19%; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 4vw; line-height: normal; font-family: Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; ">
                            3
                            </span>
                            <canvas id="waterCnt" width="590" height="295"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users text-green"></i> 그룹관리 </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-heart text-red"></i> 친구관리 </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg"
                                     alt="user image">
                                <span class="username">
                                    <a href="#">Jonathan Burke Jr.</a>
                                    <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                 </span>
                            </div>
                            <!-- /.user-block -->
                        </li>
                        <li class="list-group-item">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg"
                                     alt="user image">
                                <span class="username">
                                    <a href="#">Jonathan Burke Jr.</a>
                                    <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                 </span>
                            </div>
                            <!-- /.user-block -->
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#" class="text-center"> 친구 추가 &emsp; <i class="fa fa-user-plus text-blue"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-gear text-gray"></i> 환경설정 </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="settingAlarm">

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<script id="profile-template" type="text/x-handlebars-template">
    <div class="box-header with-border">
        <h3 class="box-title">Profile</h3>
        <div class="box-tools pull-right">
            <button type="button" onclick="profile.updateForm()" class="btn btn-box-tool"><i
                    class="fa fa-gear"></i></button>
        </div>
    </div>
    <div class="box-body box-profile" id="box-profile">
        <img class="profile-user-img img-responsive img-circle" src="{{setProfileImg path sysName}}"
             alt="User profile picture">
        <h3 class="profile-username text-center">{{name}}</h3>
        <p class="text-muted text-center">{{statMsg}}</p>
        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <b>Friends</b> <a class="pull-right">13명</a>
            </li>
            <li class="list-group-item">
                <b>body spec</b> <a class="pull-right">{{tall}}/{{weight}}</a>
            </li>
        </ul>
    </div>
</script>

<script id="update-template" type="text/x-handlebars-template">
    <div class="box-header with-border">
        <h3 class="box-title">Edit Profile</h3>
        <div class="box-tools pull-right">
            <button onclick="profile.showProfile()" type="button" class="btn btn-box-tool"><i
                    class="fa fa-close"></i></button>
            <button onclick="profile.update()" type="button" class="btn btn-box-tool"><i
                    class="fa fa-check"></i></button>
        </div>
    </div>
    <div class="box-body box-profile">
        <img id="profile_Edit" class="profile-user-img img-responsive img-circle" src = "{{setProfileImg path sysName}}" alt = "User profile picture" >
        <p id="insertImg" class="pull-right">
            사진 변경<i class="fa fa-gear"></i>
        </p>
        <form class="form-horizontal">
            <input id="attachFile" type="file" style="display: none;" >
            <div class="form-group" >
                <label for="inputName" class="col-sm-2 control-label"> Name </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputName" placeholder="닉네임" value="{{name}}">
                </div>
            </div>
            <div class="form-group" >
                <label for= "inputName" class="col-sm-2 control-label" > Status Message </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="statMsg" placeholder="상태메세지" value="{{statMsg}}">
                </div>
            </div>
            <div class="form-group" >
                <label for= "inputName" class="col-sm-2 control-label" > Tall </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="tall" placeholder="키" value="{{tall}}">
                </div>
            </div>
            <div class="form-group" >
                <label for= "inputName" class="col-sm-2 control-label" > Weight </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="weight" placeholder="몸무게" value="{{weight}}">
                </div>
            </div>
        </form>
    </div>
</script>

<script id="alarm-template" type="text/x-handlebars-template">
    <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
            <b>Push 알림</b>
            <a class="pull-right">
                <input type="checkbox" id="pushA" class='switch' {{setChecked pushA}}/>
                <label for="pushA"></label>
            </a>
        </li>
        <li class="list-group-item">
            <b>물마시기 알림</b>
            <a class="pull-right">
                <input type="checkbox" id="waterA" class='switch' {{setChecked waterA}}/>
                <label for="waterA"></label>
            </a>
        </li>
        <li class="list-group-item">
            <b>몸무게 입력 메세지 알림</b>
            <a class="pull-right">
                <input type="checkbox" id="weightA" class='switch' {{setChecked weightA}}/>
                <label for="weightA"></label>
            </a>
        </li>
    </ul>
</script>

<!-- /.content -->
<script type="application/javascript">
    // console.log("로그인아이디" +loginId);
    var waterdata = {datasets: [{data: [3, 5], backgroundColor: ['#09f5f0', '#e2e1e1']}], labels: ["마신 물", "마셔아 할 물"]};
    new Chart($("#waterCnt"), {
        type: 'doughnut', data: waterdata, options: {
            responsive: true,
            legend: {position: false},
            title: {display: false,},
            animation: {animateScale: true, animateRotate: true}
        }
    });

    function cancelEdit() {
        //수정취소 확인 alert띄우기!!
        $("#profileDiv").show();
        $("#editProfileDiv input").val("");
        $("#editProfileDiv").hide();
    }
</script>

<script src="../../js/board/file.js"></script>
<script src="../../js/profile/profile.js"></script>